.product-image {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #fff;
}

.thumbnail-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}

.thumbnail-image.selected,
.thumbnail-image:hover {
  border-color: #007bff;
}

@media (max-width: 767px) {
  .thumbnail-image {
    width: 50px;
    height: 50px;
  }
}
